
/* font-family: 'Inconsolata', monospace;
font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;800;900&family=Work+Sans:ital,wght@0,500;0,900;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;;
}
.overall-header{
    background-color: rgba(255, 143, 14, 0.10);
    
}

.main-header {
    display: flex;
    justify-content: space-around;
   
    align-items: center;
    padding-top: 50px;
}

.header-logo {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.navber-items ul {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    cursor: pointer;

}

.navber-items li {
    list-style: none;
    font-size: 25px;
}
.coverpage-main-content{
    max-width: 865px;
    text-align: center;
    margin: 50px auto;
}
.cover-page-paragraph{
    color: #727272;
    padding-top: 12px;
}
.main-title{
    font-size: 64px;
    font-weight: 900;
    font-family:  'Work Sans', sans-serif;;
}
.cover-btn{
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    margin-top: 30px;
}
.cover-btn a{
    text-decoration: none;
    color: #fff;
}
.coverpage-img{
    margin-left: 240px;
    /* height: 70; */
    margin-top: 0;
    margin-bottom: 45px;
    /* width: 100%; */
    
}
/* ############# responsive media querey ############ */

/* ############## mobile devices ########## */
@media screen and (max-width:576px) {
  
  
   .cover-page-paragraph{
    padding: 20px;
   }
   .coverpage-img{
    width: 100%;
    margin-left: 0px;
   }
   .main-header{
    flex-direction: column;
   }
   .navber-items ul{
   gap: 30px;
  
   }
   .main-title{
    font-size: 50px;
   }
   .navber-items li{
    font-size: 16px;
   margin-top: 10px;
   }
   .header-logo{
    font-size: 36px;
   }
}

/* ########### tablet or medium devices ############## */

@media screen and (min-width:577px ) and (max-width:960px) {
        
        .overall-header{
            width: 700px;
        }
       .cover-page-paragraph{
        padding:30px;
        
       }
       .coverpage-img{
        width: 100%;
        margin-left: 0px;
       }
       .main-header{
        width: 100%;
        flex-direction: column;
        justify-content: center;
       }
       .navber-items ul{
       gap: 50px;
      
       }
       .main-title{
        font-size: 55px;
       }
       .navber-items li{
        font-size: 25px;
       margin-top: 25px;
       }
       .header-logo{
        font-size: 45px;
       }
}
/* ############### header end ################# */






/* ############first-section styling ############### */
.first-section-main{
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
    padding: 80px;
}
.left-side-imges{
    display: flex;
    gap: 10px;
}
.left-img{
    display: grid;
    grid-template-rows: repeat(2,345px);

    width: 345px;
    height: 345px;
}
.right-side-main-content{
    width: 540px;
}
